body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-size: clamp(1em, 1vw, 1.5em);
}

a {
    color: white;
}